In [1]:
import pandas as pd

Gegeben sei ein Data Frame, welches in einer Spalte jeweils ein Dictionary enthält:

In [6]:
df = pd.DataFrame(
    {'a': [1,2,3], 
     'b': [{'x': 1, 'y': 2, 'z': 3}, {'x': 4, 'y': 5, 'z': 6}, {'x': 7, 'y': 8, 'z': 9}]}
)
df

   a                         b
0  1  {'x': 1, 'y': 2, 'z': 3}
1  2  {'x': 4, 'y': 5, 'z': 6}
2  3  {'x': 7, 'y': 8, 'z': 9}

Die Dictionaries möchten wir gerne in separate Spalten bringen. Folgende Ansätze aus Pandas bieten sich dazu an:

**json_normalize**

In [16]:
unnested = pd.json_normalize( df['b'] )
df_unnested = pd.concat( [df.a, unnested], axis=1 )

**DataFrame.from_records()**

In [9]:
unnested = pd.DataFrame.from_records( df['b'] )
df_unnested = pd.concat( [df.a, unnested], axis=1 )

   a  x  y  z
0  1  1  2  3
1  2  4  5  6
2  3  7  8  9

**apply(pd.Series)**

In [ ]:
unnested = df.b.apply( pd.Series )
pd.concat( [df.a, unnested], axis=1 )

Alle drei führen zum selben Resultat:

In [11]:
df_unnested

   a  x  y  z
0  1  1  2  3
1  2  4  5  6
2  3  7  8  9