In [15]:
import pandas as pd
pd.set_option('max_rows', 5)

In [16]:
dicts = {"Apples": [30], "Bananas": [21]}
fruits = pd.DataFrame(dicts)

fruits

   Apples  Bananas
0      30       21

In [17]:
dicts = {"Apples": [30, 41], "Bananas": [21, 34]}
fruit_sales = pd.DataFrame(dicts, index=["2017 Sales", "2018 Sales"])

fruit_sales

            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

In [23]:
ingredients = {
    "Flour": "4 cups",
    "Milk": "1 cup",
    "Eggs": "2 large",
    "Spam": "1 can"
}

dinner = pd.Series(ingredients, name="Dinner")
dinner

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [28]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [30]:
# save this DataFrame to disk as a csv file with the name cows_and_goats.csv
animals.to_csv("cows_and_goats.csv")